__pycache__/
.venv/

# git ignore all ds store files
.DS_Store
*/.DS_Store


results/log/
results/models/ppo_clip/
# Exception: Include specific trained model
!results/models/ppo_clip/ppo_clip_20251124-161508/
!results/models/ppo_clip/ppo_clip_20251124-161508/ppo_clip_update_14600.pt

results/tensorboard_logs/ppo_clip/
# Exception: Include specific tensorboard logs
!results/tensorboard_logs/ppo_clip/ppo_clip_20251124-161508/
!results/tensorboard_logs/ppo_clip/ppo_clip_20251124-161508/**
!results/tensorboard_logs/ppo_clip/ppo_clip_20251122-085610/
!results/tensorboard_logs/ppo_clip/ppo_clip_20251122-085610/**
!results/tensorboard_logs/ppo_clip/ppo_clip_20251121-221438/
!results/tensorboard_logs/ppo_clip/ppo_clip_20251121-221438/**

# Ignore per-run video folders and raw MP4s, but keep GIFs used in README
results/videos/ppo_clip/ppo_clip_*/
results/videos/ppo_clip/*.mp4

results/plot_from_tensorboard/jsons/
# Keep all plots (used in README)

!scripts/latent_space_experiment/models/pca/
!scripts/latent_space_experiment/models/pca/**
scripts/latent_space_experiment/models/beta_vae/
scripts/latent_space_experiment/models/tsne/
scripts/random/videos/
tensorboard_logs/
models/

configs/*
!configs/ppo_config_sota.yaml
scripts/latent_space_experiment_copy
results/.DS_Store
results/videos/.DS_Store
