__pycache__/
.venv/

# git ignore all ds store files
.DS_Store
*/.DS_Store


results/log/
results/models/ppo_clip/
results/tensorboard_logs/ppo_clip/
results/videos/ppo_clip/
results/plot_from_tensorboard/jsons/
results/plot_from_tensorboard/plots/

!scripts/latent_space_experiment/models/pca/
!scripts/latent_space_experiment/models/pca/**
scripts/latent_space_experiment/models/beta_vae/
scripts/latent_space_experiment/models/tsne/
scripts/random/videos/
tensorboard_logs/
videos/
models/

!configs/ppo_config_example.yaml
configs/
configs/
scripts/latent_space_experiment_copy
results/.DS_Store
results/videos/.DS_Store
