python==3.10.19
absl-py==2.3.1
alembic==1.17.0
box2d-py==2.3.5
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1761592052300/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1759648874697/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1761203062999/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
cloudpickle==3.1.1
colorlog==6.10.1
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
Farama-Notifications==0.0.4
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1759948064277/work
fonttools==4.60.1
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1756739693567/work
grpcio==1.76.0
gymnasium==1.2.1
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
imageio==2.37.0
imageio-ffmpeg==0.6.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
kiwisolver==1.4.9
Mako==1.3.10
Markdown==3.9
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1759055293570/work
matplotlib==3.10.7
moviepy==2.2.1
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
numpy==2.2.6
opencv-python==4.12.0.88
optuna==4.5.0
packaging==25.0
pandas==2.3.3
pillow==11.3.0
proglog==0.1.12
protobuf==6.33.0
psutil==7.1.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pygame==2.6.1
pyparsing==3.2.5
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1758891758214/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
seaborn==0.13.2
six==1.17.0
SQLAlchemy==2.0.44
swig==4.4.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tomli==2.3.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata==2025.2
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
Werkzeug==3.1.3
zstandard==0.25.0
