torch>=2.0.0
torchvision>=0.15.0
gymnasium>=0.29.0
gymnasium[box2d]>=0.29.0
box2d-py==2.3.5
pygame>=2.1.3
swig==4.*
tensorboard>=2.13.0
matplotlib>=3.7.0
seaborn>=0.12.0
opencv-python>=4.8.0
imageio>=2.34.0
numpy>=1.21.0
pandas>=2.0.0
scikit-learn>=1.2.0
pyyaml>=6.0
tqdm>=4.65.0
optuna>=3.3.0
setuptools<81
cloudpickle>=1.2.0
farama-notifications>=0.0.1
moviepy>=1.0.3